@font-face {
    font-family: "Georgia";
    src: url("font/georgia.ttf");
}
@font-face {
    font-family: "Georgia";
    src: url("font/georgiab.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Georgia";
    src: url("font/georgiai.ttf");
    font-style: italic;
}

body {
    font-family: "Georgia";
    transition: 0.2s all ease;
}
.alert-bg {
    background-color: #2e2e2e;
    height: 60px;
}

.alert {
    border: none;
    border-radius: 0rem;
    margin-bottom: 0rem;
}

.position {
    position: absolute;
    background-color: #2e2e2e;
    color: white;
    border: none;
    right: 2%;
    top: 60px;
    border-radius: 0 0 7px 7px;
    border-top: none;
    border: 0;
    width: 31px;
    height: 31px;
    overflow: hidden;
    z-index: 1;
}
.fa {
    display: block;
}

.position:active {
    border: none;
}
.position:hover {
    color: #db4a39;
}
.left-content .nav .nav-item a {
    font-size: 12px;
    line-height: 15px;
    color: #9f9f9f;
}
.left-content .nav .nav-item:hover a{
    color: #db4a39;
}
.left-content .nav-link {
    padding: 0.7rem 0.1rem;
}

.right-icon .nav-link {
    padding: 0.5rem 0.5rem;
}
.right-icon .nav .nav-item {
    background-color: #787878;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 0.2rem 0.5rem;
}

.right-icon .nav .nav-item .nav-link {
    display: inline-flex;
    color: white;
    text-align: center;
    padding-top: 9px;
}

.right-icon .nav .nav-item:hover {
    background-color: #db4a39;;
}

.alert-dismissible {
    padding-right: 0rem;
}

.position:focus {
    outline: none;
    box-shadow: none;
}

.bg-light {
    background-color: none;
}
#navbarNav .nav-item {
    border-bottom: 5px solid #f1f1f1;

}
#navbarNav ul .active{
    border-bottom: 5px solid #0099ff;
}
#navbarNav ul .active a{
    color: #9f9f9f;
}
#navbarNav ul li {
    padding: 10px;
}

#navbarNav ul li a {
    text-transform: uppercase;
    font-size: 14px;
    color: #2e2e2e;
    padding: 10px;
    font-weight: 300;
}

.navbar-light .navbar-brand {
    font-size: 43px;
    color: #333333;
}
.btn-color {
    background: #0099ff;
    border-radius: 7px;
    color: #ffffff;
    font-size: 12px;
}

.search-box {
    height: 31px;
    border: none;
    border-radius: 7px;
    background: #f1f1f1;
}

.search-box::placeholder {
    font-size: 14px;
    font-weight: 400;
}

.carousel-inner .slider-img {
    width: 550px;
    height: 400px;
}

.carousel-inner .slider-img img {
    width: 550px;
    height: 400px;
}
.slider-bg {
    background-color: #f1f1f1;
    border-top: 5px solid #e9e9e9;
    border-bottom: 10px solid #e9e9e9;
}

.carousel-item h2 {
    font-size: 36px;
    line-height: 36px;
    color: #333333;
}
.carousel-item p {
    font-size: 16px;
    line-height: 22px;
    color: #666666;
}

.btn-highlight {
    border-radius: 7px;
    background-color: #0099ff;
    color: #ffffff;
    font-size: 16px;
}

#carouselExampleIndicators ol li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
}

.category img {
    width: 85px;
    height: 80px;
}

.category p {
    font-size: 13px;
    line-height: 21px;
    color: #666666;
}

.category .text-highlight {
    font-size: 16px;
    line-height: 19px;
    color: #0099ff;
}

.blockquote h1 {
    font-size: 36px;
    line-height: 43px;
    color: #333333;
    font-weight: bold;
}

.contact-us {
    height: 58px;
    border-radius: 8px;
    background-color: #0099ff;
    display: block;
    font-size: 26px;
    line-height: 31px;
    color: #e6e6e6;
    text-transform: uppercase;
    padding: 14px 8px;
}
.blockquote {
    background-color: #e0e0e0;
    padding: 30px;
    border-left: 10px solid #0099ff;
}
.contact-us:hover {
    text-decoration: none;
    color: #333333;
}

.contact {
    border-top: 5px solid #000000;
    background-color: #1a1a1a;
    border-bottom: 1px solid #2d2d2d;
}

.foot h6 {
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    margin-bottom: 20px;
}

.foot p {
    font-size: 12px;
    line-height: 19px;
    color: #666666;
}

.about-us img {
    width: 215px;
    height: 90px;
}

.img-thumbnail {
    background-color: #1a1a1a;
    border: 1px solid #555555;
}

.read-more {
    font-size: 12px;
    line-height: 22px;
    color: #0099ff;
}

.quick-links ul li {
    border-bottom: 1px solid #232323;
    padding-left: 20px;
}

.quick-links ul li a {
    font-size: 12px;
    line-height: 28px;
    color: #0099ff;
}

.quick-links  ul {
	position: relative;
	list-style: none;
	margin-left: 0;
}
.quick-links  ul li:before {
	content: ">>";
	position: absolute;
    left: 0;
    color: #989898;
    font-size: 10px;
    padding-top: 5px;
}

.latest-blog-post p {
    margin: 0;
}

.foot input, textarea.form-control {
    margin-bottom: 12px;
    background-color: #232323;
    border: none;
}

.foot input [placeholder]{
    font-size: 13px;
    line-height: 21px;
    color: #989898;
}


.footer-bg {
    background-color: #222222;
}

.footer p {
    font-size: 12px;
    line-height: 12px;
    color: #666666;
    margin-bottom: 0rem;
}





@media (max-width: 575.98px) { 
    .alert-bg {
        background-color: #2e2e2e;
        height: 85px;
        text-align: center;
    }
    .position {
        position: absolute;
        background-color: #2e2e2e;
        color: white;
        border: none;
        right: 2%;
        top: 84px;
        border-radius: 0 0 7px 7px;
        border-top: none;
        border: 0;
        width: 31px;
        height: 31px;
        overflow: hidden;
    }
    .left-content .nav-link {
        padding: 0.5rem 0.1rem;
    }
    .left-content ul {
        width: 100%;
        list-style: none;
    }
    .right-icon .nav-link {
        padding: 0.5rem 0.1rem;
    }
}

